body{
	padding: 0px;
	margin: 0px;
}
.tit{
	margin:50px 10px 30px 10px;
	color: #FF0000;
	font-size: 32px;
	text-align: center;
	font-weight: bolder;
	/* text-shadow: 0 1px #FFFFFF, 1px 0 #FFFFFF, -1px 0 #FFFFFF, 0 -1px #FFFFFF; */
	text-shadow: 2px 2px 2px #FF6666;
	
    transform:scale(1,2);
    -ms-transform:scale(1,2);
    -webkit-transform:scale(1,2);
    -moz-transform:scale(1,2);
    -o-transform:scale(1,2);
    
}
.tit01{
	padding:25px 10px 10px 10px;
	color: #FF6666;
	font-size: 28px;
	text-align: center;
	font-weight: bolder;
	text-shadow: 0 1px #FFF, 1px 0 #FFF, -1px 0 #FFF, 0 -1px #FFF;
	/* text-shadow: 2px 2px 2px #FF6666; */
}
.tb{
	width:100%;
	position: relative;
	border-collapse:collapse;
	border:none;
}
.tb th{
	padding:0px 10px;
	text-align: left;
	height: 70px;
	background-color: #CCFFCC;
	border:solid #FFFFCC 1px;
	text-shadow: 0 1px #FFF, 1px 0 #FFF, -1px 0 #FFF, 0 -1px #FFF;
	font-weight: normal;
}
.tb td{
	text-align: left;
	background-color: #CCFFFF;
	min-width: 90px;
	text-align: center;
	position: relative;
	border:solid #FFFFCC 1px;
	color:#6666FF;
	text-shadow: 0 1px #FFF, 1px 0 #FFF, -1px 0 #FFF, 0 -1px #FFF;
}
.address{
	color: #99CC66;
}
.address th{
	padding:10px;
	text-align: left;
}
.moveNode,.addNode{
	position: absolute;
	font-size: 12px;
	border-radius:50%;
	width:23px;
	height:23px;
	cursor: pointer;
	padding:0px;
	margin: 0px;
	background-color: #FFFFCC;
}
.moveNode{
	top: 4px;
	left: 4px;
}
.addNode{
	right: 4px;
	bottom: 4px;
}
.itmSl{
	position: absolute;
	font-size: 12px;
	text-shadow: 0px 0px 0px;
	border-radius:50%;
	border:1px solid #99CC66;
	min-width:23px;
	line-height:23px;
	background-color: #FF7777;
	color:#FFFFFF;
	left: 4px;
	bottom: 4px;
}
.dingcan{
	width: 100%;
	max-height: 200px;
	overflow: auto;
	position: fixed;
	bottom: 0px;
	background-color: #FFFFFF;
}
.dingcan>div{
	line-height: 45px;
	padding:0px;
	margin: 0px 0px 1px 0px;
	background-color: #CCEEFF;
	text-shadow: 0 1px #FFF, 1px 0 #FFF, -1px 0 #FFF, 0 -1px #FFF;
}
.bottomZhanwei{
	height:200px;
}
select{
	min-width: 80px;
	height: 40px;
	border-radius:10%;
	border: solid 1px #000000;
	background-color:#FFFFFF;
	appearance:none;
	-moz-appearance:none;
	-webkit-appearance:none;
	outline:none;
	padding: 0px 14px 0px 5px;
}
select::-ms-expand { display: none; }