.tit01{
	padding:25px 10px 10px 10px;
	color: #FF6666;
	font-size: 28px;
	text-align: center;
	font-weight: bolder;
	text-shadow: 0 1px #FFF, 1px 0 #FFF, -1px 0 #FFF, 0 -1px #FFF;
}
.tb{
	width:100%;
	position: relative;
	border-collapse:collapse;
	border:none;
	text-shadow: 0 1px #FFF, 1px 0 #FFF, -1px 0 #FFF, 0 -1px #FFF;
}
.tb th{
	height: 40px;
	background-color: #CCFFCC;
	border:solid #FFFFCC 1px;
}
.tb .nameTH{
	text-align: left;
}
.tb td{
	background-color: #CCFFFF;
	text-align: center;
	border:solid #FFFFCC 1px;
}
.btmDiv{
	text-align: center;
}
.btmDiv button{
	margin: 10px 20px 40px 20px;
}
.msgBuquan>div{
	margin: 10px;
	text-shadow: 0 1px #FFF, 1px 0 #FFF, -1px 0 #FFF, 0 -1px #FFF;
}
textarea,input{
	border: 1px solid #ccc;
	padding: 7px 0px;
	border-radius: 3px;
	padding-left:5px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s
}
textarea:focus,input:focus{
	border-color: #66afe9;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)
}
